<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="HostsUri" value="https://path/to/hosts/service" />
    <add key="RebootUri" value="https://path/to/reboot/service" />
  </appSettings>
</configuration>